PySide6
argostranslate
requests
darkdetect
pyinstaller
langdetect
deep-translator
google-generativeai
keyboard
pyperclip
pypdf
python-docx
openpyxl
Pillow
pyinstaller
nuitka
zstandard
pyttsx3
SpeechRecognition
pyaudio
